# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom file types
*.log
*.sys
*.bin
*.iso

# Dev Environment Files
.vs
.vscode
.code

# Build Files
build*
bochsout.txt
bx_enh_dbg.ini
CMakeUserPresets.json
build/